/* Global css */
*{padding:0; margin:0; box-sizing:border-box; font-family: 'Nunito Sans', sans-serif;font-family: 'Poppins', sans-serif;scroll-behavior: smooth;}
body{padding: 0;margin: 0;background: #fff;font-family: 'Nunito Sans', sans-serif;font-family: 'Poppins', sans-serif;}
input, select, textarea , button{transition: all 0.5s ease;-webkit-transition: all 0.5s ease;}
a {text-decoration:none;transition: all 0.5s ease;-webkit-transition: all 0.5s ease;outline:none;outline: 0;}
a::after , a::before{text-decoration:none;transition: all 0.5s ease;-webkit-transition: all 0.5s ease;}
a:hover , a:focus {text-decoration:none;}
input {border: 0;outline: 0;}
ul{margin:0;padding:0;list-style:none;}
h1, h2, h3, h4, h5, h6 , p {margin: 0;}
img{max-width:100%; height: auto;}
.container{width: 100%;display: block;margin: 0 auto;max-width: 1400px!important;}
/* /GLobal css */
/* Header CSS */
header{background: #fff;border-radius: 0px 0px 25px 0px;padding: 0 30px;position: fixed;width: 100%;z-index: 999;}
.chart-col {
    padding: 20px;
    background: #fff;
    box-shadow: 0px 2px 46px #989BF91F;
    border-radius: 15px;
    height: 100%;
}
.nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.hd-left-col {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hd-right-col {
    display: flex;
    justify-content: end;
    gap: 60px;
    align-items: center;
}
.notification a {
    padding: 0;
}
.notification .dropdown-toggle::after{display: none;}
.notification img{width: 25px;}
.user-info .nav-link{padding: 0;}
ul{margin-bottom: 0!important;}
.notification-num {
    padding: 10px 8px;
    border: 1px solid #548cd7;
    border-radius: 100%;
}
.user-info {
    padding: 12px 15px 12px 55px;
    border: 1px solid #D0E4FF;
    border-radius: 7px;
    position: relative;
}
.user-info img {
    width: 30px;
    position: absolute;
    left: -40px;
    top: 0px;
}
.user-info .dropdown-toggle::after{display: none;}
.nav-title {
    font-size: 20px;
    font-weight: 500;
    color: #212121;
}
body {
    background: #EFF2FF!important;
}
.notification .dropdown-item{padding: .25rem 1.5rem;}
.side-navbar {
    width: 350px;
    background: #fff;
    border-radius: 0 0 35px 0;
}
.side-navbar li {
    font-size: 16px;
    padding: 15px 50px;
    border-bottom: 1px solid #F9F7FF;
    margin-left: 15px;
}
.side-navbar li:last-child{border-bottom:none;}
li.active-in {
    background: #eff2ff;
    border-radius: 31px 0 0 31px;
}

.sprite { background: url('../images/icon-sidebar.png') no-repeat top left; width: 57px; height: 57px;  } 
.sprite.int-kit { background-position: 0 0; width: 50px; } 
.sprite.kyc-sp { background-position: -60px 0; } 
.sprite.prod-cat { background-position: -127px 0; width: 53px; height: 54px; } 
.sprite.refund { background-position: -190px 0; width: 58px; } 
.sprite.settle-sp { background-position: -258px 0; height: 55px; } 
.sprite.transaction-eq { background-position: -325px 0; } 
.sprite.transaction-sp { background-position: -392px 0; } 
.sprite.tran-sum { background-position: -459px 0; height: 63px; } 
.sprite.charge-b { background-position: -526px 0; width: 62px; } 
.sprite.dashboard-sp { background-position: -598px 0; width: 56px; height: 56px; } 
.sprite.faq { background-position: -664px 0; width: 58px; height: 58px; } 
.sprite.faq { background-position: -732px 0; width: 58px; height: 58px; } 
.sprite.int-kit { background-position: -800px 0; width: 50px; } 
.sprite.kyc-sp { background-position: -860px 0; } 
.sprite.prod-cat { background-position: -927px 0; width: 53px; height: 54px; } 
.sprite.refund { background-position: -990px 0; width: 58px; } 
.sprite.settle-sp { background-position: -1058px 0; height: 55px; } 
.sprite.transaction-eq { background-position: -1125px 0; } 
.sprite.transaction-sp { background-position: -1192px 0; } 
.sprite.tran-sum { background-position: -1259px 0; height: 63px; } 
.sprite.charge-b { background-position: -1326px 0; width: 62px; } 
.sprite.dashboard-sp { background-position: -1398px 0; width: 56px; height: 56px; } 
/* Header CSS End */
#wrapper {
    padding-left: 100px;
    transition: all .4s ease 0s;
    height: 100%;
    overflow: hidden;
}
li.sidebar-brand {
    position: absolute;
    right: 0;
}
#sidebar-wrapper {
    margin-left: -350px;
    left: 70px;
    width: 350px;
    position: absolute;
    height: 100%;
    z-index: 0;
    transition: all .4s ease 0s;
    top: 96px;
}
.side-navbar li a{color: #414141;}
.sidebar-nav {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 375px;
}
#wrapper.active #sidebar-wrapper {
    left: 350px;
}
.icon-nav-sidebar {
    width: 30px;
    margin-right: 10px;
}
.active .slide-active-icon{display: none;}

#page-content-wrapper {
  width: 100%;
  margin-top: 100px;
}
.rev-r {
    width: 10px;}
.active .rev-r {
    width: 10px;
    transform: rotate(180deg);
}
h1.page-title {
    font-size: 25px;
    text-align: center;
}
.main-body {
    padding: 30px;
}
.transaction-step img {
    width: 40px;
}

.transaction-step {
    background: url(../images/bg-orange.png) no-repeat;
    background-size: 100%;
    padding: 5%;
    display: flex;
    gap: 30px;
}
.transaction-step div{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.transaction-step {
    background: url(../images/bg-orange.png) no-repeat;
    background-size: 100%;
    padding: 10% 5%;
    display: flex;
    gap: 30px;
    border-radius: 8px;
}
.amt-stat {
    font-size: 16px!important;
    font-weight: 400!important;
}
.bg-blue{
    background: url('../images/bg-blue.png') no-repeat;
    background-size: 100%;
}
.bg-dblu{
    background: url('../images/bg-dblu.png') no-repeat;
    background-size: 100%;
}
.transaction-step.bg-lorng{
    background: url('../images/bg-lorng.png') no-repeat;
    background-size: 100%;
}
.bg-blue .img-wrap {
    background: #3BA9ED;
    padding: 2% 4%;
    border-radius: 12px;
}
.bg-orng .img-wrap {
    background: #FF9B29;
    padding: 2% 4%;
    border-radius: 12px;
}
.bg-dblu .img-wrap{
    background: #5E7AD8;
    padding: 2% 4%;
    border-radius: 12px;
}
.bg-lorng .img-wrap {
    background: #F7A83B;
    padding: 2% 4%;
    border-radius: 12px;
}
.all-transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.all-transaction span {
    font-size: 26px;
    color: #383838;
    font-weight: 600;
}
.all-transaction a {
    font-size: 20px;
}
.all-transaction .btn-secondary {
    background-color: #FFFFFF;
    color: #222222;
    border: 1px solid #E1E1E1;
}
.steps {
    
    list-style: none;
    margin: 50px 0 0 0;
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    color: #929292;
    height: 4rem;
}
.steps > .step {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 0.875rem;
    color: #3A3A3A;
}

    .steps > .step:before {
        content: '';
        display: block;
        margin: 0 auto;
        background: #eff2ff;
        border: 2px solid #286ECD;
        color: #e6e6e6;
        width: 20px;
        height: 20px;
        text-align: center;
        margin-bottom: -45px;
        line-height: 1rem;
        border-radius: 20px;
        position: relative;
        z-index: 1;
        font-weight: 700;
        font-size: 1rem;
    }

    .steps > .step:after {
        content: "";
        position: absolute;
        display: block;
        background: #e6e6e6;
        width: 90%;
        height: 0.125rem;
        top: 10px;
        left: 55%;
    }

    .steps > .step:last-child:after {
        display: none;
    }

    .steps > .step.is-active {
        font-size: 1rem;
        color: #131313;
    }

        .steps > .step.is-active:before {
            content: '';
            color: #fff;
            background: #286ECD;
            margin-bottom: -48px;
        }

        .chart-area {
            margin : 5em 20em;
          }
          .shadow {
            filter: drop-shadow( 0px 5px 4px rgba(0, 0, 0, .4));
          }

          .legends {
            display: flex;
            justify-content: space-around;
        }
        .legends div {
            border: 0.800000011920929px solid #E1E1E1;
            padding: 1%;
            width: 145px;
            height: 45px;
            justify-content: center;
            align-items: center;
            display: flex;
            border-radius: 4px;
        }
        .net-b::before {
            content: '';
            background: #1a9ced;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            display: block;
            margin-right: 9px;
        }
        .upi::before {
            content: '';
            background: #FF8800;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            display: block;
            margin-right: 9px;
        }
        .chart-title {
            font-size: 20px;
            color: #383838;
            font-weight: 600;
        }
        li.sidebar-brand{border-bottom: none;padding-right: 20px;}
        .slide-active-icon{position: absolute;right: 8px;}
        
        

@media (min-width: 1024px) and (max-width: 1540px) {        
    .transaction-step div{font-size: 12px;}
    .amt-stat{font-size: 12px !important;}
    .transaction-step img {width: 30px;}
    
    
    
}
@media (max-width:767px) {
    #page-content-wrapper{margin-top: 82px;}
    .main-body {
        padding: 15px;
    }
    
    .all-transaction{display: block;margin-bottom: 15px;}
    .transaction-step,.charts-analyze .col-lg-7{margin-bottom: 20px;}
    .all-transaction a{font-size: 16px;    width: 100%;
        margin-bottom: 15px;}
        .steps > .step{font-size: 12px;}
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
    top: 82px;
}
.sidebar-nav{height: 100%;}
#wrapper.active {
    padding-left: 0px;
}
#wrapper.active #sidebar-wrapper {
    left: 350px;
    width: 350px;
    transition: all .4s ease 0s;
    z-index: 9999;
}
.greetings,.nav-title{display: none;}
.nav-wrap{gap: 30px;}.hd-left-col{display: block;width: 100%;}
header{padding: 0;border-radius: 0;}
.side-navbar li{    padding: 8px 30px;}
/* .hd-right-col{display: block;} */
.nav-title{font-size: 12px;}
.user-info{padding: 10px;}
.user-info img{display: none;}
.hd-right-col{gap: 30px;}
}

/* Responsive Css */
@media (min-width:1601px) {
	.container {
		max-width: 83% !important
	}
}